KALSHI_API_BASE_URL=https://external-api.kalshi.com/trade-api/v2
KALSHI_CACHE_TTL_SECONDS=30
KALSHI_DEFAULT_EVENT_TICKER=KXELONMARS-99
KALSHI_DEFAULT_MARKET_KEY=KXELONMARS|KXELONMARS-99|KXELONMARS-99
